@model Openers_Lotion.Models.LotionTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Lotions" asp-action="Index" method="get">
    <p>
        <select asp-for="LotionType" asp-items="Model.SkinTypes">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lotions![0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotions![0].ItemForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotions![0].SkinType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotions![0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotions![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotions![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotions![0].Review)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lotions!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkinType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
